<p id="notice"><%= notice %></p>

<h1>Ascents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ascents.each do |ascent| %>
      <tr>
        <td><%= link_to 'Show', ascent %></td>
        <td><%= link_to 'Edit', edit_ascent_path(ascent) %></td>
        <td><%= link_to 'Destroy', ascent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ascent', new_ascent_path %>
