<%= form_with(model: andinist, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Nombres", :class => "form-label" %><br>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :surname, "Apellidos", :class => "form-label" %><br>
    <%= form.text_field :surname, :class => "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :img_url, "Link a imagen", :class => "form-label" %><br>
    <%= form.text_area :img_url, :class => "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :img_author, "Autor imagen", :class => "form-label" %><br>
    <%= form.text_field :img_author, :class => "form-control"  %>
  </div>

  <div class="row">
    <div class="mb-3 col-4">
      <%= form.label :first_club, "Club",  :class => "form-label" %><br>
      <% club_one = if @andinist.clubs.count > 0 then @andinist.clubs[0].name else "" end %>
      <%= form.select :first_club, options_for_select(clubs_for_select(), club_one), {:include_blank => true}, {:class => "form-control custom-select"} %>
    </div>
    <div class="mb-3 col-4">
      <%= form.label :second_club, "Club",  :class => "form-label" %><br>
      <% club_two = if @andinist.clubs.count > 1 then @andinist.clubs[1].name else "" end %>
      <%= form.select :second_club, options_for_select(clubs_for_select(), club_two), {:include_blank => true}, {:class => "form-control custom-select"} %>
    </div>
    <div class="mb-3 col-4">
      <%= form.label :third_club, "Club (si no está en las opciones)",  :class => "form-label" %><br>
      <%= form.text_field :third_club, :class => "form-control"  %>
    </div>
  </div>

  <div class="row">
    <div class="mb-3 col-4">
       <%= form.label :first_country, "País",  :class => "form-label" %><br>
      <% country_one = if @andinist.countries.count > 0 then @andinist.countries[0].name else "" end %>
      <%= form.select :first_country, options_for_select(countries_for_select(), country_one), {:include_blank => true}, {:class => "form-control custom-select"} %>
    </div>
    <div class="mb-3 col-4">
      <%= form.label :second_country, "País",  :class => "form-label" %><br>
      <% country_two = if @andinist.countries.count > 1 then @andinist.countries[1].name else "" end %>
      <%= form.select :second_country, options_for_select(countries_for_select(), country_two), {:include_blank => true}, {:class => "form-control custom-select"} %>
    </div>
    <div class="mb-3 col-4">
      <%= form.label :third_country, "País (si no está en las opciones)",  :class => "form-label" %><br>
      <%= form.text_field :third_country, :class => "form-control"  %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :gender, "Género (Masculino, Femenino u otro)",  :class => "form-label" %><br>
    <%= form.text_field :gender, :class => "form-control"  %>
  </div>

  <% if andinist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(andinist.errors.count, "error") %> no permitió que guardáramos los cambios en este andinista</h2>

      <ul>
        <% andinist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Guardar", :class => "btn btn-primary"  %>
  </div>
<% end %>
