<p id="notice"><%= notice %></p>

<h1>Andinistas</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Club</th>
      <th>País</th>
      <th>Referencias</th>
      <th># Primeros Ascensos</th>
      <th># Nuevas Rutas</th>
      <th>Editar</th>
    </tr>
  </thead>

  <tbody>
    <% @andinists.each do |andinist| %>
      <tr>
        <th> <%= andinist.id %> </th>
        <td> <%= andinist.fullname %> </td>
        <td> Not Yet </td> 
        <td> <%= andinist.country ? andinist.country : "Sin Patria" %> </td>
        <td> Not Yet </td>
        <td> <%= andinist.ascents.count %></td>
        <td> <%= andinist.ascents.count %></td>
        <td><%= link_to 'Editar', edit_andinist_path(andinist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Andinista', new_andinist_path %>