<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h1>Andinistas</h1>

<table id="andinist-table" class="table table-striped table-sm" role="datatable">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>País</th>
      <th>Club</th>
      <th>Referencias</th>
      <th># Primeros Ascensos</th>
      <th># Nuevas Rutas</th>
      <th>Editar</th>
    </tr>
  </thead>

  <tbody>
    <% @andinists.each do |andinist| %>
      <tr>
        <th> <%= andinist.id %> </th>
        <th> <%= link_to andinist.fullname, andinist_path(andinist) %> </td>
        <td> <%= andinist.countries.first ? andinist.countries.first.name : "" %> </td> 
        <td> 
          <% cont = 0  %>
          <% andinist.clubs.each do |club| %>
              <%= cont == 0 ? "" :', '%>
              <%= club.name %>
              <% cont += 1 %>
          <% end %>
        </td>
        <td> Not Yet </td>
        <td> <%= andinist.ascents.count %></td>
        <td> <%= andinist.ascents.count %></td>
        <td><%= link_to 'Editar', edit_andinist_path(andinist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#andinist-table').DataTable({
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
      });
  });
</script>


<br>

<%= link_to 'Nuevo Andinista', new_andinist_path %>