<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h2> <%= @andinist.fullname %> </h2>

<% if user_signed_in? %>
	<div class="btn-group" role="group" aria-label="Acciones">
		<%= link_to ['Editar', @andinist.fullname].join(" "), edit_andinist_path(@andinist), class: "btn btn-primary my-2"  %> 
	</div>
<% end %>

<table class="table table-striped mb-5">
  	<tbody>
    	<tr>
    		<th>Nombres</th>
    		<td><%= @andinist.name %></th>
    	</tr>
    	<tr>
    		<th>Apellidos</th>
    		<td><%= @andinist.surname %></th>
    	</tr>
    	<tr>
    		<th>Nacionalidad</th>
    		<td>
                <% cont = 0  %>
                <% @andinist.countries.each do |country| %>
                    <%= cont == 0 ? "" : ", "%>
                    <%= country.name %>
                    <% cont += 1 %>
                <% end %>
            </th>
    	</tr>
    	<tr>
    		<th>Club</th>
    		<td>
                <% cont = 0  %>
                <% @andinist.clubs.each do |club| %>
                    <%= cont == 0 ? "" : ', '%>
                    <%= club.name %>
                    <% cont += 1 %>
                <% end %>
            </td>
    	</tr>
    	<tr>
    		<th>Género</th>
    		<td><%= @andinist.gender %></th>
    	</tr>
 	</tbody>
</table>


<h3 class="mt-3 mb-3"> Ascensos Destacados</h3>

<% if @andinist.ascents.count > 0 %>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th style="min-width: 120px">Fecha</th>
                <th>Montaña</th>
                <th>Ruta</th>
                <th>Descripción</th>
                <th>Ascensionistas</th>
                <th>Honores</th>
            </tr>
        </thead>
        <tbody>
            <% @andinist.ascents.sort_by(&:fulldate).each do |ascent| %>
                <tr>
                    <td> <%= ascent.fulldate %> </td>
                    <th> <%= link_to ascent.route.mountain.fullname, mountain_path(ascent.route.mountain) %> </th>
                    <td> <%= ascent.route.name %> </td>
                    <td> <%= ascent.name %> </td>
                    <td> 
                        <% cont = 0  %>
                        <% ascent.andinists.each do |andinist| %>
                            <%= cont == 0 ? "" :', '%>
                            <%= link_to andinist.fullname, andinist_path(andinist) %>
                            <% cont += 1 %>
                        <% end %>
                    </td>
                    <td>
                        <% if ascent == ascent.route.mountain.first_absolute then %>
                            <span class="badge badge-pill badge-dark" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Absoluto">
                                <i class="fa fa-medal"></i>
                            </span>
                        <% end %>
                        <% if ascent == ascent.route.mountain.first_winter_absolute then %>
                            <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Invernal Absoluto">
                                <i class="fa fa-snowflake"></i>
                            </span>
                        <% end %>
                        <% if ascent == ascent.route.first_ascent then %>
                            <span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="Apertura de Ruta">
                                <i class="fa fa-medal"></i>
                            </span>
                        <% end %>
                        <% if ascent == ascent.route.first_winter_ascent then %>
                            <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Primera Invernal a esta Ruta">
                                <i class="fa fa-snowflake "></i>
                            </span>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>Sin Ascensos Registrados</p>
<% end %>


<div class="btn-group" role="group" aria-label="Acciones">
    <%= link_to 'Volver a Andinistas', andinists_path %>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>