<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h2> <%= @mountain.fullname %> </h2>
	<div class="btn-group" role="group" aria-label="Acciones">
		<%= link_to ['Editar', @mountain.fullname].join(" "), edit_mountain_path(@mountain), class: "btn btn-primary my-2"  %> 
		<%= link_to 'Volver a Cerros', mountains_path, class: "btn btn-secondary my-2"  %>
	</div>


<table class="table table-striped">
  	<tbody>
    	<tr>
    		<th>Nombre</th>
    		<td><%= @mountain.fullname %></th>
    	</tr>
    	<% if @mountain.fullname_alt and @mountain.fullname_alt != " " then %>
	    	<tr>
	    		<th>Nombre alternativo</th>
	    		<td><%= @mountain.fullname_alt %></th>
	    	</tr>
	    <% end %>
    	<tr>
    		<th>Altura</th>
    		<td><%= @mountain.altitude %> <%= @mountain.secondary_altitude ? "(" + @mountain.secondary_altitude.to_s + " según " + @mountain.secondary_altitude_name + ")" : "" %></th>
    	</tr>
    	<tr>
    		<th><%= if @mountain.countries.count > 1 then "Países" else "País" end %></th>
    		<td><% if @mountain.countries.count > 0 then %>
    				<% not_first = false %>
      				<% @mountain.countries.each do |country| %>
        				<% if not_first then %>
          					<%= "- " %>
        				<% else %>
          					<% not_first = true %>
        				<% end %>
          				<%= country.name %>
      				<% end %>
    			<% end %>
    		</td>
    	</tr>
    	<tr>
    		<th>Latitud Sur</th>
    		<td><%= @mountain.latitude %></th>
    	</tr>
    	<tr>
    		<th>Longitud Oeste</th>
    		<td><%= @mountain.longitude %></th>
    	</tr>
    	<tr>
    		<th>Primer Ascenso</th>
    		<td>
    			<% if @mountain.first_absolute then %>
	    			<%= @mountain.first_absolute.fulldate %> ,
	    			<% not_first = false %>
	    			<% @mountain.first_absolute.andinists.each do |andinist| %>
	    				<% if not_first then %>
	    					<%= ", " %>
	    				<% else %>
	    					<% not_first = true %>
	    				<% end %>
						<%= link_to andinist.fullname, andinist_path(andinist) %>
					<% end %>
	    			por
	    			<%= link_to @mountain.first_absolute.route.name , route_path(@mountain.first_absolute.route.name) %>
	    		<% else %>
	    			Sin ascensos registrados
	    		<% end %>
    	</tr>
 	</tbody>
</table>

<% if @mountain.latitude %>

<h3 class="mt-3"> Ubicación </h3>

	<script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const cerro = { lat: <%= @mountain.latitude %>, lng: <%= @mountain.longitude %> };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: cerro,
          mapTypeId: 'satellite'
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: cerro,
          map: map,

        });
      }
	</script>
	<div id="map"></div>

	<p>Cercanas:
		<% @mountain.near_mountains.each do |near| %>

			<%= link_to near.fullname, mountain_path(near) %> , 

		<% end %>
			
	</p>
<% end %>


<h3 class="mt-3"> Rutas existentes </h3>

<table class="table table-sm table-striped">
	  	<thead>
	    	<tr>
	    		<th>Ruta</th>
	    		<!--<th>Primeros ascensionistas</th>-->
	      		<th>Año primer ascenso</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<% @mountain.routes.sort_by(&:first_ascent_fulldate).each do |route| %>
				<tr>
					<th> <%= link_to route.name, route_path(route) %> </th>
					<!--<td>
						<% if route.ascents.count > 0 then %>
							<% cont = 0 %>
							<% route.ascents.sort_by(&:fulldate).first.andinists.each do |andinist| %>
								<%= cont == 0 ? "" :', '%>
								<%= link_to andinist.fullname, andinist_path(andinist) %>
								<% cont += 1 %>
							<% end %>
						<% end %>
					</td>-->
					<td>
						<% if route.ascents.count > 0 then %>
							<%= route.ascents.sort_by(&:fulldate).first.year %>
						<% end %>
					</td>
				</tr>
	    	<% end %>
	 	</tbody>
	</table>

<%= link_to 'Crear Ruta', new_route_path(:mountain => @mountain), class: "btn btn-primary btn-sm my-2"  %>

<h3 class="mt-3"> Ascensos Destacados</h3>

<% if @mountain.ascents.count > 0 %>
	<table class="table table-sm table-striped">
	  	<thead>
	    	<tr>
	    		<th style="min-width: 120px">Fecha</th>
	    		<th>Ruta</th>
	    		<th>Descripción</th>
	      		<th>Ascensionistas</th>
	      		<th>Honores</th>
	      		<th>Acciones</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<% @mountain.ascents.sort_by(&:fulldate).each do |ascent| %>
				<tr>
					<td> <%= ascent.fulldate %> </td>
					<td> <%= ascent.route.name %> </td>
					<td>
						<%= ascent.name %> </td>
					<td> 
						<% cont = 0  %>
						<% ascent.andinists.each do |andinist| %>
							<%= cont == 0 ? "" :', '%>
							<%= link_to andinist.fullname, andinist_path(andinist) %>
							<% cont += 1 %>
						<% end %>
					</td>
					<td>
						<% if ascent == @mountain.first_absolute then %>
							<span class="badge badge-pill badge-dark" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Absoluto">
								<i class="fa fa-medal"></i>
							</span>
						<% end %>
						<% if ascent == @mountain.first_winter_absolute then %>
							<span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Invernal Absoluto">
								<i class="fa fa-snowflake"></i>
							</span>
						<% end %>
						<% if ascent == ascent.route.first_ascent then %>
							<span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="Apertura de Ruta">
								<i class="fa fa-medal"></i>
							</span>
						<% end %>
						<% if ascent == ascent.route.first_winter_ascent then %>
							<span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Primera Invernal a esta Ruta">
								<i class="fa fa-snowflake "></i>
							</span>
						<% end %>
					</td>
					<td style="text-align: center">

						<%= link_to edit_ascent_path(ascent, :mountain => @mountain) do %>
							<i class="fa fa-edit"></i>
						<% end %>

					</td>
				</tr>
	    	<% end %>
	 	</tbody>
	</table>
<% else %>
	<p>Sin Ascensos Registrados</p>
<% end %>
<%= link_to 'Crear Ascenso Destacado', new_ascent_path(:mountain => @mountain), class: "btn btn-primary btn-sm my-2"  %>

<% if @mountain.nomenclatura_object != nil %>
	<h3 class="mt-3"> Información levantada en Proyecto Nomenclatura</h3>

	<table class="table table-sm table-striped">
	  	<tbody>
    		<% nom = @mountain.nomenclatura_object %>
	    	<tr>
	    		<th>Nombre Nomenclatura</th>
	    		<td><%= nom.name %></th>
	    	</tr>
	    	<tr>
	    		<th>Mapa IGM</th>
	    		<td><%= [nom.igm_rectangle.file_id, nom.igm_rectangle.name].join(" ") %></th>
	    	</tr>
	    	<tr>
	    		<th>Altitud IGM</th>
	    		<td><%= nom.altitude_igm %></th>
	    	</tr>
	    	<tr>
	    		<th>Latitud Sur PSAD 56</th>
	    		<td><%= nom.latitude_south %></th>
	    	</tr>
	    	<tr>
	    		<th>Longitud Oeste PSAD 56</th>
	    		<td><%= nom.longitude_west %></th>
	    	</tr>
	    	<tr>
	    		<th>Código de Revisión</th>
	    		<td><%= nom.revision_code %></th>
	    	</tr>
	    	<tr>
	    		<th>Observaciones</th>
	    		<td><%= nom.observations %></th>
	    	</tr>
	    	<tr>
	    		<th>Comentarios</th>
	    		<td><%= nom.comment %></th>
	    	</tr>
	 	</tbody>
	</table>

<% end %>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCakFWS-TejUPvZ-OHO1rM4yehU4AWb5tQ&callback=initMap&libraries=&v=weekly" async="false"></script>
