<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>


<h2> <%= @mountain.fullname %> </h2>
<% if Mountain.where(id: @mountain.parent_id).count > 0 then %>
	<h6> Cumbre secundaria de <%= link_to Mountain.where(id: @mountain.parent_id).first.fullname, mountain_path(Mountain.where(id: @mountain.parent_id).first) %> </h6>
<% end %>
<div class="btn-group" role="group" aria-label="Acciones">
	<% if user_signed_in? %>
		<%= link_to ['Editar', @mountain.fullname].join(" "), edit_mountain_path(@mountain), class: "btn btn-primary my-2"  %>
	<% end %>
	<%= link_to 'Volver a Cerros', mountains_init_url, class: "btn btn-secondary my-2"  %>
</div>


<% if current_user and (current_user.superadmin_role? or current_user.supervisor_role?) then %>
	<% if @mountain.versions.size > 0 then %>
		<small class="mb-3" style="display:block">Últimos cambios por <%= @mountain.versions.last.whodunnit %></small>
	<% end %>
<% end %>
<table class="table table-striped">
	<% if @mountain.unregistered_non_sport_ascent and @mountain.unregistered_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos no deportivos (precolombinos, arrieros, pirquineros) o deportivos
			</small></td></tr>
		</tfoot>
	<% elsif @mountain.unregistered_non_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos no deportivos previos (precolombinos, arrieros, pirquineros)
			</small></td></tr>
		</tfoot>
	<% elsif @mountain.unregistered_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos deportivos previos
			</small></td></tr>
		</tfoot>
	<% end %>

  	<tbody>
    	<tr>
    		<th>Nombre</th>
    		<td><%= @mountain.fullname %></th>
    	</tr>
    	<% if @mountain.fullname_alt and @mountain.fullname_alt != " " then %>
	    	<tr>
	    		<th>Nombre alternativo</th>
	    		<td><%= @mountain.fullname_alt %></th>
	    	</tr>
	    <% end %>
    	<tr>
    		<th>Altura</th>
    		<td><%= @mountain.altitude %> <%= @mountain.secondary_altitude ? "(" + @mountain.secondary_altitude.to_s + " según " + @mountain.secondary_altitude_name + ")" : "" %></th>
    	</tr>
    	<tr>
    		<th><%= if @mountain.countries.count > 1 then "Países" else "País" end %></th>
    		<td><% if @mountain.countries.count > 0 then %>
    				<% not_first = false %>
      				<% @mountain.countries.each do |country| %>
        				<% if not_first then %>
          					<%= "- " %>
        				<% else %>
          					<% not_first = true %>
        				<% end %>
          				<%= country.name %>
      				<% end %>
    			<% end %>
    		</td>
    	</tr>
    	<tr>
    		<th>Latitud Sur</th>
    		<td><%= @mountain.latitude %></th>
    	</tr>
    	<tr>
    		<th>Longitud Oeste</th>
    		<td><%= @mountain.longitude %></th>
    	</tr>
    	<tr>
    		<th>Primer Ascenso<%= " Deportivo" if @mountain.unregistered_non_sport_ascent %> </th>
    		<td>
    			<% if @mountain.first_absolute then %>
	    			<%= @mountain.first_absolute.fulldate %> ,
	    			<% not_first = false %>
	    			<% @mountain.first_absolute.andinists.each do |andinist| %>
	    				<% if not_first then %>
	    					<%= ", " %>
	    				<% else %>
	    					<% not_first = true %>
	    				<% end %>
						<%= link_to andinist.fullname, andinist_path(andinist) %>
					<% end %>
	    			por
	    			<%= link_to @mountain.first_absolute.route.name , route_path(@mountain.first_absolute.route.name) %>
	    		<% else %>
	    			Sin ascensos registrados
	    		<% end %>
	    		<%= " *" if @mountain.unregistered_non_sport_ascent || @mountain.unregistered_sport_ascent %>
    	</tr>
 	</tbody>
</table>

<% if @mountain.img_url and not @mountain.img_url == "" then %>
	<div class="row mt-3 image-container">
		<%= image_tag @mountain.img_url, class: "img-fluid sector_cover_image  border-cover-image" %>
		<p style="text-align: right; font-size: 13px">
			Foto: <%= @mountain.img_author %>
		</p>
	</div>
<% end %>

<% if @mountain.latitude %>

<h3 class="mt-3"> Ubicación </h3>

	<script>
      // Initialize and add the map
      	function initMap() {
	        const cerro = { lat: <%= @mountain.latitude %>, lng: <%= @mountain.longitude %> };
	        const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 13,
				center: cerro,
				mapTypeId: 'satellite'
			});
			const image = '<%= image_path("icon_cerro.png") %>';
			const image_main = '<%= image_path("icon_cerro_main.png") %>';
			<% Mountain.all.each do |m| %>
				<% if m.latitude and m.longitude %>
					<% if m == @mountain then %>
						addMarker({
							coords:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
							iconImage: image,
							content: '<h6><%= link_to m.fullname, mountain_path(m) %></h6>',
						});
					<% else %>
						addMarker({
							coords:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
							iconImage: image_main,
							content: '<h6><%= link_to m.fullname, mountain_path(m) %></h6>',
						});
					<% end %>
				<% end %>
			<% end %>
			function addMarker(props){
	      		var marker = new google.maps.Marker({
	      			position: props.coords,
					map: map,
					icon: props.iconImage,
	      		});
	      		var infoWindow = new google.maps.InfoWindow({
	      			content:props.content,
	      		});
	      		marker.addListener('click', function(){
	      			infoWindow.open(map, marker);
	      		});
      		};
      	};

	</script>
	<div id="map"></div>

	<p class="mb-5">Cercanas:
		<% @mountain.near_mountains.each do |near| %>

			<%= link_to near.fullname, mountain_path(near) %> , 

		<% end %>
			
	</p>
<% end %>


<h3 class="mt-3"> Rutas existentes </h3>

<table class="table table-sm table-striped mb-3">
	  	<thead>
	    	<tr>
	    		<th>Ruta</th>
	    		<!--<th>Primeros ascensionistas</th>-->
	      		<th>Año primer ascenso</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<% @mountain.routes.sort_by(&:first_ascent_fulldate).each do |route| %>
				<tr>
					<th> <%= link_to route.name, route_path(route) %> </th>
					<!--<td>
						<% if route.ascents.count > 0 then %>
							<% cont = 0 %>
							<% route.ascents.sort_by(&:fulldate).first.andinists.each do |andinist| %>
								<%= cont == 0 ? "" :', '%>
								<%= link_to andinist.fullname, andinist_path(andinist) %>
								<% cont += 1 %>
							<% end %>
						<% end %>
					</td>-->
					<td>
						<% if route.ascents.count > 0 then %>
							<%= route.ascents.sort_by(&:fulldate).first.year %>
						<% end %>
					</td>
				</tr>
	    	<% end %>
	 	</tbody>
	</table>

<% if user_signed_in? %>
  <div class="btn-group" role="group" aria-label="Acciones">
		<%= link_to 'Crear Ruta', new_route_path(:mountain => @mountain), class: "btn btn-primary btn-sm my-2"  %>
	</div>
<% end %>

<h3 class="mt-3"> Ascensos Destacados</h3>

<% if @mountain.ascents.count > 0 %>
	<table class="table table-sm table-striped mb-3">
	  	<thead>
	    	<tr>
	    		<th style="min-width: 120px">Fecha</th>
	    		<th>Ruta</th>
	    		<th>Descripción</th>
	      		<th>Ascensionistas</th>
	      		<th>Honores</th>
	      		<% if user_signed_in? %>
	      			<th>Acciones</th>
	      		<% end %>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<% @mountain.ascents.sort_by(&:fulldate).each do |ascent| %>
				<tr>
					<td> <%= ascent.fulldate %> </td>
					<td> <%= ascent.route.name %> </td>
					<td>
						<%= ascent.name %> </td>
					<td> 
						<% cont = 0  %>
						<% ascent.andinists.each do |andinist| %>
							<%= cont == 0 ? "" :', '%>
							<%= link_to andinist.fullname, andinist_path(andinist) %>
							<% cont += 1 %>
						<% end %>
					</td>
					<td>
						<% if ascent == @mountain.first_absolute then %>
							<span class="badge badge-pill badge-dark" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Deportivo">
								<i class="fa fa-medal"></i>
							</span>
						<% end %>
						<% if ascent == @mountain.first_winter_absolute then %>
							<span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Invernal">
								<i class="fa fa-snowflake"></i>
							</span>
						<% end %>
						<% if ascent == ascent.route.first_ascent then %>
							<span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="Apertura de Ruta">
								<i class="fa fa-medal"></i>
							</span>
						<% end %>
						<% if ascent == ascent.route.first_winter_ascent then %>
							<span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Primera Invernal a esta Ruta">
								<i class="fa fa-snowflake "></i>
							</span>
						<% end %>
					</td>
					<% if user_signed_in? %>
						<td style="text-align: center">
							<%= link_to edit_ascent_path(ascent, :mountain => @mountain) do %>
								<i class="fa fa-edit"></i>
							<% end %>
						</td>
					<% end %>
				</tr>
	    	<% end %>
	 	</tbody>
	</table>
<% else %>
	<p class="mb-5">Sin Ascensos Registrados</p>
<% end %>

<% if user_signed_in? %>
  <div class="btn-group" role="group" aria-label="Acciones">
		<%= link_to 'Crear Ascenso Destacado', new_ascent_path(:mountain => @mountain), class: "btn btn-primary btn-sm my-2"  %>
	</div>
<% end %>

<h3 class="mt-3 mb-3"> Referencias </h3>
<% if @mountain.sources.count > 0 %>
    <table class="table table-sm table-striped mb-5">
        <thead>
            <tr>
                <th>#</th>
                <th>Referencia</th>
                <th>Enlace</th>
                <% if user_signed_in? %>
	      			<th>Acciones</th>
	      		<% end %>
            </tr>
        </thead>
        <tbody>
        	<% cont = 0 %>
            <% @mountain.sources.each do |source| %>
            	<% cont += 1 %>
                <tr>
                    <td> <%= cont %> </td>
                    <td> <%= source.name %> </td>
                    <td>
                    	<% if source.link[6,2] == "//" then %>
                    		<%= link_to source.link, "https://#{source.link[8..]}" %>
                    	<% elsif source.link[5,2] == "//" then %>
                    		<%= link_to source.link, "https://#{source.link[7..]}" %>
                    	<% else %>
                    		<%= source.link[6,2] %>
						<% end %>
                    </td>
                    <% if user_signed_in? %>
						<td style="text-align: center">
							<%= link_to edit_source_path(source, :mountain => @mountain) do %>
								<i class="fa fa-edit"></i>
							<% end %>
							<%= link_to source_path(source), :confirm => "¿Estás seguro?", :method => :delete do %>
								<i class="fa fa-trash-alt text-danger"></i>
							<% end %>
						</td>
					<% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
	<p class="mb-3">Sin Referencias</p>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'Agregar Referencia', new_source_path(:mountain => @mountain), class: "btn btn-primary btn-sm my-2 mb-3"  %>
<% end %>

<% if @mountain.nomenclatura_object != nil %>
	<h3 class="mt-3"> Información levantada en Proyecto Nomenclatura</h3>

	<table class="table table-sm table-striped">
	  	<tbody>
    		<% nom = @mountain.nomenclatura_object %>
	    	<tr>
	    		<th>Nombre Nomenclatura</th>
	    		<td><%= nom.name %></th>
	    	</tr>
	    	<tr>
	    		<th>Mapa IGM</th>
	    		<td><%= [nom.igm_rectangle.file_id, nom.igm_rectangle.name].join(" ") %></th>
	    	</tr>
	    	<tr>
	    		<th>Altitud IGM</th>
	    		<td><%= nom.altitude_igm %></th>
	    	</tr>
	    	<tr>
	    		<th>Latitud Sur PSAD 56</th>
	    		<td><%= nom.latitude_south %></th>
	    	</tr>
	    	<tr>
	    		<th>Longitud Oeste PSAD 56</th>
	    		<td><%= nom.longitude_west %></th>
	    	</tr>
	    	<tr>
	    		<th>Código de Revisión</th>
	    		<td><%= nom.revision_code %></th>
	    	</tr>
	    	<tr>
	    		<th>Observaciones</th>
	    		<td><%= nom.observations %></th>
	    	</tr>
	    	<tr>
	    		<th>Comentarios</th>
	    		<td><%= nom.comment %></th>
	    	</tr>
	 	</tbody>
	</table>

<% end %>

<% if current_user and (current_user.superadmin_role? or current_user.supervisor_role?) then %>
	<% if @mountain.versions.size > 0 then %>
		<h3 class="mt-3"> Últimas modificaciones </h3>
		<table class="table table-sm table-striped">
			<thead>
				 <tr>
				 	<th>ID</th>
	                <th>Evento</th>
	                <th>Fecha</th>
	                <th style="max-width: 160px">Versión del objeto</th>
	                <th>Usuario</th>
	                <th>Acciones</th>
	            </tr>
			</thead>
		<% @mountain.versions.reverse_each do |v| %>
			<tbody>
				<tr>
					<td><%= v.id %></td>
					<td><%= v.event %></td>
					<td><%= v.created_at.to_s %></td>
					<td  style="max-width: 160px"><%= v.changeset.inspect %></td>
					<td><% if v.whodunnit %>
						<%= User.find(v.whodunnit).email %>
						<% end %>
					</td>
					<td><%= link_to 'Revertir antes de este cambio', undo_path(:m_id => @mountain.id, :v_id => v.id ), method: :post %></td>
				</tr>
			</tbody>
		<% end %>
	<% end %>
<% end %>

<h3 class="mt-5"> Comentarios / Discusión </h3>
<div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="10"></div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCakFWS-TejUPvZ-OHO1rM4yehU4AWb5tQ&callback=initMap&libraries=&v=weekly" async="false"></script>
