<%= form_with(model: route, local: true) do |form| %>



  <div class="mb-4">
    <%= form.label :name, "Nombre de la ruta", :class => "form-label" %><br>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :unregistered_non_sport_ascent, :type => "radio", :class => "form-check-input"  %>
    <%= form.label :unregistered_non_sport_ascent, "Tiene ascensos no-deportivos anteriores no registrados (precolombinos, arrieros, pirquineros, etc)", :class => "form-check-label" %><br>
  </div>

  <div class="mb-4 form-check">
    <%= form.check_box :unregistered_sport_ascent, :type => "radio", :class => "form-check-input"  %>
    <%= form.label :unregistered_sport_ascent, "Tiene ascensos deportivos anteriores no registrados", :class => "form-check-label" %><br>
  </div>

  <%= form.hidden_field :mountain_id, :value => @mountain.id %>  


  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit "Guardar", :class => "btn btn-primary"  %>
  </div>
<% end %>
