<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h2> <%= @route.name %>   </h2>
<h5> <small class="text-muted"><%= @route.mountain.fullname %> </small></h5>

<div class="btn-group" role="group" aria-label="Acciones">
		<% if user_signed_in? %>
		<%= link_to ['Editar', @route.name].join(" "), edit_route_path(@route, :mountain => @route.mountain), class: "btn btn-primary my-2"  %>
	<% end %>
	<%= link_to 'Volver a ' + @route.mountain.fullname , mountain_path(@route.mountain), class: "btn btn-secondary my-2"  %>
</div>

<table class="table table-striped">
	<% if @route.unregistered_non_sport_ascent and @route.unregistered_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos no deportivos (precolombinos, arrieros, pirquineros) o deportivos
			</small></td></tr>
		</tfoot>
	<% elsif @route.unregistered_non_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos no deportivos previos (precolombinos, arrieros, pirquineros)
			</small></td></tr>
		</tfoot>
	<% elsif @route.unregistered_sport_ascent then %>
		<tfoot>
			<tr><td colspan="2"><small>
				* Tiene ascensos deportivos previos
			</small></td></tr>
		</tfoot>
	<% end %>
  	<tbody>
    	<tr>
    		<th>Cerro</th>
    		<th> <%= link_to @route.mountain.fullname , mountain_path(@route.mountain)%> </th>
    	</tr>
    	<tr>
    		<th>Ruta</th>
    		<td> <%= @route.name %> </th>
    	</tr>
    	<tr>
    		<th>Primer Ascenso</th>
    		<td>
    			<% if @route.first_ascent then %>
	    			<%= @route.first_ascent.fulldate %> ,
	    			<% not_first = false %>
	    			<% @route.first_ascent.andinists.each do |andinist| %>
	    				<% if not_first then %>
	    					<%= ", " %>
	    				<% else %>
	    					<% not_first = true %>
	    				<% end %>
						<%= link_to andinist.fullname, andinist_path(andinist) %>
					<% end %>
	    			por
	    			<%= link_to @route.first_ascent.route.name , route_path(@route.first_ascent.route.name) %>
	    		<% else %>
	    			Sin ascensos registrados
	    		<% end %>
	    		<%= " *" if @route.unregistered_non_sport_ascent || @route.unregistered_sport_ascent %>
	    	</th>
    	</tr>
 	</tbody>
</table>

<h3 class="mt-3"> Ascensos Destacados</h3>

<% if @route.ascents.count > 0 %>
	<table class="table table-sm table-striped">
	  	<thead>
	    	<tr>
	    		<th style="min-width: 120px">Fecha</th>
	    		<th>Ruta</th>
	    		<th>Descripción</th>
	      		<th>Ascensionistas</th>
	      		<th>Honores</th>
	      		<% if user_signed_in? %>
	      			<th>Acciones</th>
	      		<% end %>
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<% @route.ascents.sort_by(&:fulldate).each do |ascent| %>
				<tr>
					<td> <%= ascent.fulldate %> </td>
					<td> <%= ascent.route.name %> </td>
					<td> <%= ascent.name %> </td>
					<td> 
						<% cont = 0  %>
						<% ascent.andinists.each do |andinist| %>
							<%= cont == 0 ? "" :', '%>
							<%= link_to andinist.fullname, andinist_path(andinist) %>
							<% cont += 1 %>
						<% end %>
					</td>
					<td>
                        <% if ascent == @route.mountain.first_absolute then %>
                            <span class="badge badge-pill badge-dark" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Deportivo">
                                <i class="fa fa-medal"></i>
                            </span>
                        <% end %>
                        <% if ascent == @route.mountain.first_winter_absolute then %>
                            <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Primer Ascenso Invernal">
                                <i class="fa fa-snowflake"></i>
                            </span>
                        <% end %>
                        <% if ascent == @route.first_ascent then %>
                            <span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="Apertura de Ruta">
                                <i class="fa fa-medal"></i>
                            </span>
                        <% end %>
                        <% if ascent == @route.first_winter_ascent then %>
                            <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Primera Invernal a esta Ruta">
                                <i class="fa fa-snowflake "></i>
                            </span>
                        <% end %>
                    </td>
	      			<% if user_signed_in? %>                 
	                    <td style="text-align: center">
							<%= link_to edit_ascent_path(ascent, :mountain => @route.mountain) do %>
								<i class="fa fa-edit"></i>
							<% end %>
						</td>
					<% end %>
				</tr>
	    	<% end %>
	 	</tbody>
	</table>
<% else %>
	<p class="mb-3">Sin Ascensos Registrados</p>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'Crear Ascenso Destacado', new_ascent_path(:mountain => @route.mountain), class: "btn btn-primary btn-sm my-2 mb-3"  %>
<% end %>

<% if @route.mountain.routes.count > 1 then %>
	<h3 class="mt-3"> Otras rutas </h3>
	<table class="table table-sm table-striped mb-5">
	  	<tbody>
	    	<tr>
	    		<th>Ruta</th>
	    	</tr>
	    	<% @route.mountain.routes.each do |route| %>
	    		<% if route != @route then %>
			    	<tr>
			    		<td>
			    			<%= link_to route.name , route_path(route, :mountain => @route.mountain)%>
			    		</th>
			    	</tr>
			    <% end %>
		    <% end %>
	 	</tbody>
	</table>
<% end %>

<h3 class="mt-3 mb-3"> Referencias </h3>
<% if @route.sources.count > 0 %>
    <table class="table table-sm table-striped mb-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Referencia</th>
                <th>Enlace</th>
                <% if user_signed_in? %>
	      			<th>Acciones</th>
	      		<% end %>
            </tr>
        </thead>
        <tbody>
            <% @route.sources.each do |source| %>
                <tr>
                    <td> <%= source.id %> </td>
                    <td> <%= source.name %> </td>
                    <td> <%= link_to source.link, "http://#{source.link}" %> </td>
                    <% if user_signed_in? %>
						<td style="text-align: center">
							<%= link_to edit_source_path(source, :route => @route) do %>
								<i class="fa fa-edit"></i>
							<% end %>
							<%= link_to source_path(source), :confirm => "¿Estás seguro?", :method => :delete do %>
								<i class="fa fa-trash-alt text-danger"></i>
							<% end %>
						</td>
					<% end %>

                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
	<p class="mb-3">Sin Referencias</p>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'Agregar Referencia', new_source_path(:route => @route), class: "btn btn-primary btn-sm my-2 mb-3"  %>
<% end %>

<h3 class="mt-5"> Comentarios / Discusión </h3>
<div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="10"></div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>