<!DOCTYPE html>
<html>
  <head>
    <title>Cerros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Webpacker css application pack -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Webpacker javascript application pack -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/b5d4bc22ae.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex justify-content-center">
        <!--<%= link_to "CERROS", root_path, class: "navbar-brand"%> -->
        <a class="navbar-nav mr-4" href="<%= root_path %>">
          <%= image_tag("logo.png", height:"40")%>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Nosotros", uncategorized_about_path, class: "nav-link active"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sectores
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% Sector.all.order(:category).pluck(:category).uniq.each do |cat| %>
                  <%= link_to cat, sectors_path(:category => cat), class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "Montañas", mountains_init_url, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "Andinistas", andinists_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "Ascensos", ascents_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "Rutas", routes_path, class: "nav-link active"%>
            </li>

          </ul>

          <%= form_tag(mountains_path, :class => "form-inline my-2 my-lg-0", method: "get") do %>
            <input name=mountain[:similar_fullname], class="form-control col m-1" type="text" placeholder="Nombre">
            <%= submit_tag "Buscar", :class => "form-control btn btn-outline-success my-2 my-sm-0"  %>
          <% end %>
          <ul class="navbar-nav">
            <% if current_user.nil? %>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path, class: "nav-link active login-button" %>
              </li>
            <% else %>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mi Cuenta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to('Mis datos', edit_user_registration_path, class: 'nav-link active') %>
                  <%= link_to "Dashboard?", uncategorized_nomenclatura_path, class: 'nav-link active login-button' %>
                  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: 'nav-link active' %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">

      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>


